In [ ]:
#1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [ ]:
def myreduce(func,container,default=None):
  cont = iter(container)
  if default == None:
    val = next(cont)
  else:
    val = default

  for i in cont:
    val = func(val,i)
  return val

if __name__ == "__main__":
  lis = [1,2,3,4,5]   
  value = myreduce(lambda x,y:x+y,lis)
  print("The reduce number is:",value)

The reduce number is: 15

In [ ]:
#1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [ ]:
def myFilter(func,iterator):
    it = iter(iterator)
    for i in it:
        val = func(i)
        if val:
          yield i
            
#lis = [1,2,3,4,5,6]
value = list(myFilter(lambda x:x%2 == 0,range(1,10)))
print(value)

[2, 4, 6, 8]

In [ ]:
#2. Implement List comprehensions to produce the following lists.

In [ ]:
# pattern1

res = [(x*i) for x in ['x','y','z']  for i in range(1,5)]
print(res)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
#pattern2

In [ ]:
res = [(x*i)  for i in range(1,5) for x in ['x','y','z']]
print(res)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
#  pattern 3

In [ ]:
lis1 = [[i+j] for i in range(2,5) for j in range(0, 3)]
lis2 = [[i,i+1,i+2,i+3] for i in range(2,6)]

print(lis1,lis2)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
# Pattern 4

res = [(k,j) for j in range(1,4) for k in range(1,4)]
print(res)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]