In [ ]:
#Excercise 1 Program to print the pattern using nested for loop

In [ ]:
for i in range(0,2):
   for j in range(0,5):
     if   i == 0:
       n = i + j + 1
       print('*' * n)
     elif j < 4:
       o = n - (j + 1) 
       print('*' * o)

*
**
***
****
*****
****
***
**
*

In [ ]:
#Excercise 2 Program to print reverse order of First name 

Fst_Name = input('Enter your First Name :')

print(Fst_Name[::-1].title())

Enter your First Name :ineuron
Norueni